[Unit]
Description=Docker Container for Apache, MySQL, Postgres, MSSQL, phpMyAdmin
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker-compose -f /var/www/docker/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /var/www/docker/docker-compose.yml down

[Install]
WantedBy=multi-user.target
